<div class="container">
    <body>
<div class="row">
    <div class="col">
    <div class=" text-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead"><strong>Please Wait</strong> Your order will take 45mins to Arrive</p>
        <hr>
        <p>
          Having trouble? <a href="">Contact us</a>
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-sm" href="/home" role="button">Continue to homepage</a>
        </p>
      </div>
    </div>
</div>
</body>
</div>