<div class="bsbabs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center"> 
                <h1 class="text-white my-5">Order food online in Egypt </h1></div>
               
                
        </div>
        <div class="row">
        <div class="col-sm-6 mx-auto"> 
            <div class="search-fr p-3">
                    <h1 class="text-white fonto text-center p-2">Select your area to see restaurants around you </h1>
                    <div class="row px-2">
                        <div class="col-12">
                    <form>
                            <div class="form-group px-1">
                              <select class="form-control" id="sel1">
                                <option>Louran</option>
                                <option>Sedigaber</option>
                                <option>Semouha</option>
                                <option>SediBeshr</option>
                              </select>
                            </div>
                          </form>
                          <div class="p-3 ">
                                <button type="button" class="btn btn-success text-white d-block mx-auto" >FIND RESTAURANTS</button>
                          </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="container">
<div class="row">
    <div class="offset-2 col-3">
       <h1 class="sizeo"><img src="assets/img/homeinfobar1.JPG" alt=""> Find a restaurant</h1> 
    </div>
    <div class="col-3">
        <h1 class="sizeo"><img src="assets/img/homeinfobar2.JPG" alt=""> Order your meal</h1>
    </div>
    <div class="col-3">
        <h1 class="sizeo"><img src="assets/img/homeinfobar3.JPG" alt=""> Enjoy your food</h1>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12 text-center">   
        <h1>Order food online</h1>
        <p>Endless selection of cuisines and restaurants</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <img src="assets/img/o2.PNG" alt="MISSING PNG" class="img-fluid mx-auto mt-4" >
    </div>
    <div class="col-6">
        <h1>Who we are</h1>
        <p>Otlob is Egyptian foodies favorite food ordering app and website. We put thousands of top international and local restaurants into your hands. Find, sort, filter, rate, and order all with a couple easy taps. Otlob will take care of the rest.</p>
        <h1>What we do</h1>
        <p>Otlob is Egypt's biggest food ordering services and operates in more than 25 cities. Customers can order from more than 2,000 restaurants with a couple taps, and Otlob will manage the rest.</p>
<h1>Start your experience</h1>
<p>Use our GPS technology to locate yourself, choose your favorite restaurant and meal, and checkout. Otlob allows you to pay however you prefer and save your delivery details for easy reordering.</p>
    </div>
</div>

</div>
